<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343247484493-9slf6qbi8ogt9fn9o3j2cvv0ap21qb0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343247484493-9slf6qbi8ogt9fn9o3j2cvv0ap21qb0r</string>
	<key>API_KEY</key>
	<string>AIzaSyCIodkot_zP9TWvJy48cAxXqCqoo6UGBQA</string>
	<key>GCM_SENDER_ID</key>
	<string>343247484493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yin.perkbank</string>
	<key>PROJECT_ID</key>
	<string>perkbank-402fc</string>
	<key>STORAGE_BUCKET</key>
	<string>perkbank-402fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343247484493:ios:ae8e44aa383ed6d9</string>
	<key>DATABASE_URL</key>
	<string>https://perkbank-402fc.firebaseio.com</string>
</dict>
</plist>